.button {
    display: inline-block;
    text-decoration: none;
    margin-top: 350px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    color: #1A1917;
    padding: 10px 30px;
    border: 0;
}